<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="returnzork.Backup_V3.Properties.MainSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Backup_V3.Settings.MainSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Backup_V3.Settings.Main_x0020_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Backup_V3.Settings.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Backup_V3.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Backup_V3.MainSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Backup_V3.Properties.MainSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <returnzork.Backup_V3.Properties.MainSettings>
            <setting name="ExcludeFolder1" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludeFolder2" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludeFolder3" serializeAs="String">
                <value />
            </setting>
            <setting name="WorldFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="WorldTo" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeBetween" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WorldOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayFinishedSound" serializeAs="String">
                <value>False</value>
            </setting>
        </returnzork.Backup_V3.Properties.MainSettings>
        <Backup_V3.Settings.MainSettings>
            <setting name="ExcludeFolder1" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludeFolder2" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludeFolder3" serializeAs="String">
                <value />
            </setting>
            <setting name="WorldFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="WorldTo" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeBetween" serializeAs="String">
                <value>0</value>
            </setting>
        </Backup_V3.Settings.MainSettings>
        <Backup_V3.Settings.Main_x0020_Settings>
            <setting name="ExcludeFolder1" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludeFolder2" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludeFolder3" serializeAs="String">
                <value />
            </setting>
        </Backup_V3.Settings.Main_x0020_Settings>
        <Backup_V3.Settings.Settings1>
            <setting name="ExcludeFolder1" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludeFolder2" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludeFolder3" serializeAs="String">
                <value />
            </setting>
        </Backup_V3.Settings.Settings1>
        <Backup_V3.Settings1>
            <setting name="test" serializeAs="String">
                <value />
            </setting>
        </Backup_V3.Settings1>
        <Backup_V3.MainSettings>
            <setting name="ExcludeFolder1" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludeFolder2" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludeFolder3" serializeAs="String">
                <value />
            </setting>
        </Backup_V3.MainSettings>
        <Backup_V3.Properties.MainSettings>
            <setting name="ExcludeFolder1" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludeFolder2" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludeFolder3" serializeAs="String">
                <value />
            </setting>
        </Backup_V3.Properties.MainSettings>
    </userSettings>
</configuration>