<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<Settings>
		<WorldFrom></WorldFrom>
		<WorldTo></WorldTo>
		<TimeBetween></TimeBetween>

    <ExcludeFolder1></ExcludeFolder1>
    <ExcludeFolder2></ExcludeFolder2>
    <ExcludeFolder3></ExcludeFolder3>
    <PlayFinishedSound></PlayFinishedSound>
	</Settings>
</configuration>